#
# Config file for vacuum cleaner client
#

[cloudio]
name = 'My cloud.iO'
host = 'cloudio-broker.esr.ch'
port = 8883
username = 'ro'
password = 'ro'
subscribe_topics = '@update/goflex-dc-088.nodes.powerMeter-1/#'
certificate = 'ca-cert.pem'
qos=0

[endpoint]
name = 'goflex-dc-046.nodes.SmartMeterTechnical'
#name = 'goflex-dc-124.nodes.powerMeter-1'
#name = 'goflex-dc-053.nodes.powerMeter-1'
[node]
name = 'House'